# SPDX-License-Identifier: GPL-2.0-only
menu "Risc-V Specific firmware drivers"
depends on RISCV

config RISCV_SBI_SSE
	bool "Enable SBI Supervisor Software Events support"
	depends on RISCV_SBI
	default y
	help
	  The Supervisor Software Events support allows the SBI to deliver
	  NMI-like notifications to the supervisor mode software. When enabled,
	  this option provides support to register callbacks on specific SSE
	  events.

endmenu
